  <div class="mynavbar">
    <div class="navbar-left">
      <h1 class="text-center">J&L</h1>
    </div>
    <div class="navbar-right">
      <h1 class="text-center">Ich habe dich sehr lieb <i class="fa fa-heart"></i></h1>
    </div>
  </div>
