/* Main navbar */
.mynavbar {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #c2413b;
  transition: all 0.3s ease;
  height: 80px;
  padding: 0px 60px;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mynavbar h1 {
  padding: 0px;
  margin: 0px;
  font-family: Lobster;
  color: white;
  font-size: 24px;
}
